.pagination li{
	  display: inline-block;
      padding: 5px 6px;
}

.pagination li a{
	  text-decoration: none;
	   color:#000;
}

.pagination li a:hover{
	 color:red;
}

.active{
	 color:red;
}

.disabled{
	 cursor: not-allowed;
	 color:#ccc;
}